body {
    color: #332;
    background-color: #fff;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}
.error {
    color: red;
}

/* Fixed Menu Style*/
.header {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #333;
    top: 0;
}
.logo {
    line-height: 60px;
    padding: 0 20px;
    color: #fff;
}
.navbar li a {
    color: white;
    text-align: center;
    padding: 24px 20px;
    background-color: inherit;
}
.user_call {
    font-weight: 300;
}

/*Main Body*/
section {
    border-bottom: 1px solid #999;
    min-height: 800px;
    padding-top: 100px;
    width: 100%;
}
section h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;
}

/*About Page*/
.about {
    margin-left: auto;
    margin-right: auto;
}


/*Signup Page*/
.label {
  font-size: 20px;
  text-align: center;
}
.signup_label {
    color:black;
    font-weight: 300;
    font-size: 16px;
}

input[type=text] {
    min-width: 200px;
    font-size: 16px;
    padding: 8px;
    font-family: monospace;
}

textarea {
  width: auto;
  min-height: 300px;
  font-size: 16px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}

/*Blog Body*/
.post + .post {
    margin-top: 20px;
}

#blog_btns {
    text-align: right;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
}

/*Post Page*/
.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    text-transform: uppercase;
}

.post {
    margin-right: 24px;
    margin-left: 24px;
}

.post-date {
    position: relative;
    right: 0px;
    bottom: 0px;
    color: #999;
}

.post-username {
    position: relative;
    right: 0px;
    bottom: 0px;
    color: #999;
}

.post-content {
    margin-top: 5px;
    text-align: left;
}
#post_btns{
    text-align: right;
}

.center{
    margin: auto;
    width: 50%;
}

/*Footer*/
.footer{
    margin:none;
    text-align: center;
}