{% extends "base.html" %}

{% block title %}About - Multi User Blog{% endblock %}
{% block navbar %}
<li><a href="/l{{userstatus}}" data-scroll>L{{userstatus}}</a></li>
{% endblock %}
{% block content %}
<div class="col-md-12">
	<h1>About</h1>
</div>
<div class="col-md-8 col-md-offset-2">
		<br>
		<h3 class="text-center"> ReadMe</h3>
		<h2> Multi-User-Blog </h2>

		<p> Multi-User-Blog is a project submission for the Udacity Full Stack Web Developer Nanodegree program.
		</p> <h2>
		Setup
	</h2>
	<p>You can run this project with via cloning from GitHub and running <code>dev_appserver.py</code> in the project's root directory. This will run a local instance of the multi-user-blog and can be viewed <code>localhost:8080</code>.</p> 
	<h2>
		GitHub
	</h2>
	<p>Available on Github. Clone the project using <code>git clone</code> command (or fork the project)</p> 
	<pre>
		# Clone the repository directly 
		$ git clone https://github.com/quirkyPrashant/multi-user-blog.udacity.fswdn
	</pre>
	<h2>
		Google App Engine Example
	</h2>
	<p>myapp-164716.appspot.com</p> 
</div>
{% endblock %}
