<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> {% block title %}Apples and Oranges{% endblock %}</title>
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
<!-- Main Quill library -->
<script src="//cdn.quilljs.com/1.2.4/quill.js"></script>
<script src="//cdn.quilljs.com/1.2.4/quill.min.js"></script>
<!-- Theme included stylesheets -->
<link href="//cdn.quilljs.com/1.2.4/quill.snow.css" rel="stylesheet">
<link href="//cdn.quilljs.com/1.2.4/quill.bubble.css" rel="stylesheet">
<link rel="stylesheet" href="/css/responsive.css">
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/custom.js"></script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
	<nav class="header navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/" class="logo header">quirkyPrashant</a>
			</div>
			<div class="collapse navbar-collapse" id="mainNavbar">
				<ul class="nav navbar-right navbar-nav">
					{% block navbar %}
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a id="navbar_seperator">|</a></li>
					<li><a class="user_call" data-toggle="modal" data-target="#user_login">&#128100;Log In</a></li>
					{% endblock %}
				</ul>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<section class="row" id="content">
			<div class="col-md-12">
				{% block content %}
				{% endblock %}
			</div>
		</section>
	</div>

	<!-- Login modal -->
	<div class="modal fade" id="user_login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
					<h3 class="modal-title" id="lineModalLabel">Login</h3>
				</div>
				<div class="modal-body">
					<form method="post">
						<div class="error">
							{{error}}
						</div>
						<div class="form-group">
							<label for="username">Username</label>
							<input type="text" name="username" class="form-control" id="username" placeholder="Enter Username" value="{{username}}">
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" class="form-control" id="password" placeholder="Password" name="password" value="">
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> Remember Me
							</label>
						</div>
						<div>
							<p>New to Blog? <a href="/signup">Signup</a> </p>
						</div>
						<div>
							<input class="btn btn-default" type="submit" name="submit" value="Submit">
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer container-fluid text-center">
			<p>
				<a href="/about">About</a> | <a href="/blog">Blog</a> | <a href="/login">Login</a> | <a href="/signup">Signup</a> 
			</p>
		</footer>
	</body>
	</html>

