<div>
	<div class="comment bg-info">
		<div class="container-fluid ">
			<div class="col-md-4">
				<div>
					<br>
					<p> Comment by: <h4>{{c.author}}</h4> </p>
				</div>
				<div class="small">
					Created On: {{c.created_time.strftime("%Y, %b %d")}}
					<br>
					Last Modified: {{c.modified_time.strftime("%Y, %b %d")}}
				</div>
				<div>
					<a href="/blog/editcomment/{{c.key().id()}}">Modify</a>
				</div>
				<br>
			</div>
			<div class="col-md-8">
				<br>
				<p>{{c.content}}</p>
			</div>
		</div>
		<hr>
		<div class="comment-content">
			{{c._render_text | safe}}
		</div>

	</div>
</div>