{% extends "base.html" %}

{% block content %}
<div class="rows">
  <div class="col-md-12">
    <h1>New Post</h1>
  </div>
  <div class="col-md-12">
    <form method="post">
      <div class="col-md-12 form-group">
          <label for="Subject">Subject</label>
          <input type="text" class="form-control" name="subject" value="{{subject}}" id="Subject">
      </div>

      <div class="col-md-12">
        <div id="toolbar"></div>
      </div>

      <div class="col-md-12 form-group">
        <br>
          <label for="content">Body</label>
          <textarea class="form-control" name="content" rows="5" id="editor">{{content}} </textarea>
      </div>

      <div class="col-md-12">
        <div class="error">{{error}}</div>
        <br>
      </div>
      <div class="col-md-12">
        <input class="btn btn-default btn-sm" id="save_newpost" type="submit" value="Submit">
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">

  var toolbarOptions = [
  ['bold', 'italic', 'underline', 'strike'],
  ['blockquote', 'code-block'],
  [{'list':'ordered'}, {'list':'bullet'}],
  ['link', 'image', 'video', 'formula']];


  var quill = new Quill ('#editor',
                        {modules: {toolbar:toolbarOptions},
                          theme: 'snow'});

  $('#save_newpost').click(function() {
    var newpost = quill.getContents();});
</script>
{% endblock %}
