{% extends "base.html" %}
{% block title %}Edit Post{% endblock %}
{% block navbar %}
<li><a href="/logout" data-scroll>Logout</a></li>
{% endblock %}
{% block content %}
<div class="col-md-12" >
	<div class="btn-group pull-right" id="post_btns">
		<a  type="button" method="get" class="btn btn-default" href="/blog/editpost/{{post.key().id()}}">Edit</a>
		<a  type="button" class="btn btn-danger" href="/blog/deletepost/{{post.key().id()}}">Delete</a>
	</div>
</div>

{{post.render() | safe}}

<div>

</div>
{% endblock %}